.carousel-wrapper .carousel-image img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}

.carousel-image{
    height: 55vh;
}

.carousel-wrapper .carousel-image img.active {
    display: block;
}